<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header::header-section(title='Edit Contact')}"></head>
<body>
<!-- NAV MENU -->
<div th:replace="~{fragments/navigation::nav-section}"></div>

<div class="container">
    <div class="container text-center" style="margin: 30px;">
        <h3>Update Contact</h3>
    </div>
    <div class="container">
        <form action="/edit" th:object="${contact}" method="post">
            <input type="hidden" th:field="*{idContact}" />
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" th:field="*{name}"
                       placeholder="Enter Name" required />
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}"
                       placeholder="Enter Phone" required />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" th:field="*{email}"
                       placeholder="Enter Email" required />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-sm me-3">Submit</button>
                <a href="/" class="btn btn-sm btn-secondary">Go Back</a>
            </div>
        </form>
    </div>
</div>

<!--  FOOTER  -->
<div th:replace="~{fragments/footer::footer-section}"></div>
</body>
</html>