<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header::header-section(title='Home')}"></head>
<body>
    <!-- NAV MENU -->
    <div th:replace="~{fragments/navigation::nav-section}"></div>
    <!-- CONTACTS TABLE -->
    <div class="container">
        <div class="container text-center" style="margin: 30px">
            <h3>Contacts System</h3>
        </div>
        <div class="container">
            <table class="table table-hover table-striped align-middle table-bordered">
                <thead class="table-dark text-center">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact : ${contacts}">
                    <th th:text="${contact.idContact}" scope="row"></th>
                    <td th:text="${contact.name}"></td>
                    <td th:text="${contact.phone}"></td>
                    <td th:text="${contact.email}"></td>
                    <td class="text-center">
                        <div class="container">
                            <a th:href="@{/edit/{id}(id=${contact.idContact})}"
                               class="btn btn-warning btn-sm me-3">&nbsp;Edit&nbsp;</a>
                            <a th:href="@{/remove/{id}(id=${contact.idContact})}"
                               class="btn btn-danger btn-sm me-3">Remove</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--  FOOTER  -->
<div th:replace="~{fragments/footer::footer-section}"></div>
</body>
</html>